<div class="navigation">
  <div class="navigation__top">
    <LinkTo @route="application" class="navigation__logo">BigSeat</LinkTo>
    <ul class="navigation__items">
      <li class="navigation__item">
        <LinkTo @route="admin.rooms" @query="{{hash showRecords="true"}}" class="navigation__item-link">
          {{inline-svg "icons/stack" class="navigation__item-icon"}} Rooms
        </LinkTo>
      </li>
      <li class="navigation__item">
        <LinkTo @route="admin.people" class="navigation__item-link">
          {{inline-svg "icons/user" class="navigation__item-icon"}} People
        </LinkTo>
      </li>
      <li class="navigation__item">
        <LinkTo @route="admin.analytics" class="navigation__item-link">
          {{inline-svg "icons/pulse" class="navigation__item-icon"}} Analytics
        </LinkTo>
      </li>
      <li class="navigation__item">
        <LinkTo @route="admin.integrations" class="navigation__item-link">
          {{inline-svg "icons/cloud-check" class="navigation__item-icon"}} Integrations
        </LinkTo>
      </li>
    </ul>
  </div>
  <div class="navigation__bottom">
    <hr class="navigation__delimiter">
    <ul class="navigation__sub-items">
      <li class="navigation__sub-item">
        <a href="#" class="navigation__sub-item-link">Help Center</a>
      </li>
      <li class="navigation__sub-item">
        <a href="#" class="navigation__sub-item-link">Billing</a>
      </li>
      <li class="navigation__sub-item navigation__sub-item--username">
        <LinkTo @route="admin.settings" class="navigation__sub-item-link">
          Ges Jeremie
        </LinkTo>
      </li>
    </ul>
  </div>
</div>