{{log this.config}}
<div class="signup-form">
  <div class="signup-form__asset">
    {{inline-svg "illustrations/files" class="svg"}}
  </div>

  <form class="form" {{on "submit" (prevent-default this.submit)}}>
    <div class="grid grid--large">
      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="email" class="form__label">Email</label>
          <Input
          @id="email"
          @type="text"
          @value={{this.changeset.email}}
          class="form__input"
          />

          {{#if this.changeset.error.email}}
            <div class="form__error">
              {{this.changeset.error.email.validation}}
            </div>
          {{/if}}
        </div>
      </div>

      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="organization-name" class="form__label">Company</label>
          <Input
          @id="organization-name"
          @type="text"
          @value={{this.changeset.organizationName}}
          class="form__input"
          />

          {{#if this.changeset.error.organizationName}}
            <div class="form__error">
              {{this.changeset.error.organizationName.validation}}
            </div>
          {{/if}}
        </div>
      </div>

      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="first_name" class="form__label">First Name</label>
          <Input
          @id="first-name"
          @type="text"
          @value={{this.changeset.firstName}}
          class="form__input"
          />

          {{#if this.changeset.error.firstName}}
            <div class="form__error">
              {{this.changeset.error.firstName.validation}}
            </div>
          {{/if}}
        </div>
      </div>

      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="last_name" class="form__label">Last name</label>
          <Input
          @id="last_name"
          @type="text"
          @value={{this.changeset.lastName}}
          class="form__input"
          />

          {{#if this.changeset.error.lastName}}
            <div class="form__error">
              {{this.changeset.error.lastName.validation}}
            </div>
          {{/if}}
        </div>
      </div>

      <div class="grid__cell">
        <div class="form__group">
          <label for="password" class="form__label">Password</label>
          <Input
          @id="password"
          @type="password"
          @value={{this.changeset.password}}
          class="form__input"
          />

          {{#if this.changeset.error.password}}
            <div class="form__error">
              {{this.changeset.error.password.validation}}
            </div>
          {{/if}}
        </div>
      </div>

      <div class="grid__cell">
        <div class="form__group">
          <div class="grid grid--middle">
            <div class="grid__cell grid__cell--10">
              <Input
                @id="terms"
                @type="checkbox"
                @checked={{this.changeset.termsAcceptance}}
                class="form__input"
                />
            </div>
            <div class="grid__cell grid__cell--90">
              <p lass="signup__form-terms">
                I agree to BigSeat's <a target="blank" class="text-button text-button--primary" href="{{this.config.termsOfServiceUrl}}">Terms of Service</a> and the use of personal data as explained in BigSeat's <a target="blank" class="text-button text-button--primary" href="{{this.config.privacyPolicyUrl}}">Privacy Policy</a>.
              </p>
            </div>
          </div>

          {{#if this.changeset.error.termsAcceptance}}
            <div class="form__error">
              {{this.changeset.error.termsAcceptance.validation}}
            </div>
          {{/if}}
        </div>
      </div>

      <div class="grid__cell">
        <div class="form__group">
          {{#if this.isProcessing}}
            <button class="button button--primary button--full" disabled="disabled">Sign up free <Loader /></button>
          {{else}}
            <button class="button button--primary button--full">Sign up free -></button>
          {{/if}}
        </div>
      </div>
    </div>
  </form>
</div>
