<form class="space-form form" {{on "submit" (prevent-default (fn @onSubmit changeset))}}>
  <div class="space-form__section">
    <h3 class="space-form__subtitle">Essential</h3>
    <p class="space-form__description">People will book those spaces by the name you define. You can also define the maximum number of people it can welcome at once.</p>
    <div class="form">
      <div class="grid grid--huge">
        <div class="grid__cell grid__cell--30">
          <div class="form__group">
            <label for="name" class="form__label">Name*</label>
            <Input
              {{auto-focus}}
              @id="name"
              @name="name"
              @value={{this.changeset.name}}
              @placeholder="Kitties room"
              class="form__input"
            />

            {{#if this.changeset.error.name}}
              <div class="form__error">
                {{this.changeset.error.name.validation}}
              </div>
            {{/if}}
          </div>
        </div>
        <div class="grid__cell grid__cell--20">
          <div class="form__group">
            <label for="maximum-people" class="form__label">Maximum People</label>
            <Input
              @id="maximum-people"
              @name="maximum-people"
              @value={{this.changeset.maximumPeople}}
              @placeholder="0"
              @type="number"
              class="form__input form__input--width-small"
            />

            {{#if this.changeset.error.maximumPeople}}
              <div class="form__error">
                {{this.changeset.error.maximumPeople.validation}}
              </div>
            {{/if}}
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="space-form__section">
    <h3 class="space-form__subtitle">Opening Hours</h3>

    <ul class="space-form__days">
      {{#each this.daysOfTheWeek as |day|}}
        {{#if day.isActive}}
          <li class="space-form__day is-active" {{on "click" (fn this.removeOpenHours day.id)}}><span>{{day.label}}</span></li>
        {{else}}
          <li class="space-form__day" {{on "click" (fn this.addOpenHours day.id)}}><span>{{day.label}}</span></li>
        {{/if}}
      {{/each}}
    </ul>

    {{#unless this.isClosedEveryDay}}
      <div class="space-form__periods">
        {{#each this.openHours as |openHour|}}
          <div class="space-form__period">
              <div class="space-form__period-name">
                {{openHour.dayOfTheWeek}}
              </div>

              <div class="space-form__period-time">
                <Input @type="time" @value={{openHour.openTime}} />
                <Input @type="time" @value={{openHour.closeTime}} />
              </div>
          </div>
        {{/each}}
      </div>
    {{else}}
      <div class="space-form__info">This place is always closed</div>
    {{/unless}}
  </div>

  <div class="space-form__section">
    <h3 class="space-form__subtitle">Styling</h3>
    <p>Upload a picture of the room, office, or whatever you feel illustrate best its spirit.</p>

    <div class="upload-picture">
      <h4 class="upload-picture__title">Avatar</h4>
      <div class="upload-picture__zone">
        <div class="upload-picture__thumbnail">
          <img class="upload-picture__thumbnail-picture" src="/cat.jpg" />
        </div>
        <div class="upload-picture__content">
          {{inline-svg "icons/upload" class="svg"}}
          <p class="upload-picture__description">Drag &amp; drop a picture or click to select one</p>
        </div>
      </div>
    </div>
  </div>

  {{#if @showLoading}}
    <button class="button button--primary">Confirm <Loader></Loader></button>
  {{else}}
    <button class="button button--primary">Confirm</button>
  {{/if}}
</form>