<div class="spaces">
  <div>
    <!-- Sample to loop the spaces -->
    {{#each model as |space index|}}
      {{space.name}}
    {{/each}}
  </div>
  {{#if this.showRecords}}
    <div class="page-header">
      <div class="page-header__cell">
        <h4 class="page-header__title">Spaces</h4>
      </div>
      <div class="page-header__cell">
        <LinkTo @route="admin.spaces.new" class="button button--primary">Create space</LinkTo>
      </div>
    </div>

    <div class="spaces__wrapper">
      <div class="spaces__content">
        <table class="table table--full">
          <thead>
            <tr>
              <th>Name</th>
              <th class="align-center">Maximum People</th>
              <th>Schedule</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="grid grid--auto grid--middle">
                  <div class="grid__cell">
                    <div class="thumbnail thumbnail--small thumbnail--circle">
                      <img class="thumbnail__picture" src="/cat.jpg" />
                    </div>
                  </div>
                  <div class="grid__cell">
                    <p class="table__group">
                      <span class="table__group-key"><strong>Kitty room</strong></span>
                    </p>
                  </div>
                </div>
              </td>
              <td>20 people</td>
              <td>
                <p class="table__group">
                  <span class="table__group-key"><strong>Monday - Friday</strong></span>
                  <span class="table__group-value">08:00 - 18:00</span>
                </p>
              </td>
              <td>
                <div class="table__actions">
                  <BasicDropdown as |dd|>
                    <dd.Trigger>
                      {{inline-svg "icons/dots" class="svg"}}
                    </dd.Trigger>
                    <dd.Content>
                      <div class="dropdown">
                        <ul class="dropdown__items">
                          <li class="dropdown__item">
                            <a class="dropdown__item-link" href="#">Log out</a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__item-link" href="#">Other action</a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__item-link" href="#">Yolo</a>
                          </li>
                        </ul>
                      </div>
                    </dd.Content>
                  </BasicDropdown>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="grid grid--auto grid--middle">
                  <div class="grid__cell">
                    <div class="thumbnail thumbnail--small thumbnail--circle">
                      <img class="thumbnail__picture" src="/cat.jpg" />
                    </div>
                  </div>
                  <div class="grid__cell">
                    <p class="table__group">
                      <span class="table__group-key"><strong>Copycat room</strong></span>
                    </p>
                  </div>
                </div>
              </td>
              <td>40 people</td>
              <td>
                <p class="table__group">
                  <span class="table__group-key"><strong>Monday - Sunday</strong></span>
                  <span class="table__group-value">08:00 - 22:00</span>
                </p>
              </td>
              <td>
                <div class="table__actions">
                  <BasicDropdown as |dd|>
                    <dd.Trigger>
                      {{inline-svg "icons/dots" class="svg"}}
                    </dd.Trigger>
                    <dd.Content>
                      <div class="dropdown">
                        <ul class="dropdown__items">
                          <li class="dropdown__item">
                            <a class="dropdown__item-link" href="#">Log out</a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__item-link" href="#">Other action</a>
                          </li>
                          <li class="dropdown__item">
                            <a class="dropdown__item-link" href="#">Yolo</a>
                          </li>
                        </ul>
                      </div>
                    </dd.Content>
                  </BasicDropdown>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="spaces__footer">
      </div>
    </div>
  {{else}}
    <div class="spaces__no-results">
      <div class="empty-state">
        <div class="empty-state__asset empty-state__asset--spaces">
          {{inline-svg "illustrations/table" class="svg"}}
        </div>

        <h1 class="empty-state__title">{{t "admin.spaces.no-results.title"}}</h1>
        <p class="empty-state__description">{{t "admin.spaces.no-results.description"}}</p>

        <div class="empty-state__button">
          <LinkTo @route="admin.spaces.new" class="button button--primary">{{t "admin.spaces.new_space"}}</LinkTo>
        </div>
      </div>
    </div>
  {{/if}}
</div>
