<div class="spaces">
  {{#if model}}
    <div class="page-header">
      <div class="page-header__cell">
        <h4 class="page-header__title">Spaces</h4>
      </div>
      <div class="page-header__cell">
        <LinkTo @route="admin.spaces.new" class="button button--primary">Add space</LinkTo>
      </div>
    </div>

    <div class="spaces__wrapper">
      <div class="spaces__content">
        <table class="table table--full">
          <thead>
            <tr>
              <th>Name</th>
              <th class="align-center">Maximum People</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |space index|}}
              <tr>
                <td>
                  <div class="grid grid--auto grid--middle">
                    <div class="grid__cell">
                      <div class="thumbnail thumbnail--small thumbnail--circle">
                        <img class="thumbnail__picture" src="/cat.jpg" />
                      </div>
                    </div>
                    <div class="grid__cell">
                      <p class="table__group">
                        <span class="table__group-key table__group-key--highlight">{{space.name}}</span>
                      </p>
                    </div>
                  </div>
                </td>
                <td><span class="badge badge--outline">{{space.maximumPeople}} {{pluralize space.maximumPeople 'person' 'people'}}</span></td>
                <td>
                  <span class="badge badge--success">Open</span>
                </td>
                <td>
                  <div class="table__actions">
                    <BasicDropdown as |dd|>
                      <dd.Trigger>
                        {{inline-svg "icons/dots" class="svg"}}
                      </dd.Trigger>
                      <dd.Content>
                        <div class="dropdown">
                          <ul class="dropdown__items">
                            <li class="dropdown__item">
                              <span class="dropdown__item-header">Actions</span>
                            </li>
                            <li class="dropdown__item">
                              <LinkTo @route="admin.spaces.edit" @model={{space.id}} class="dropdown__item-link">
                                <span class="dropdown__item-icon">{{inline-svg "icons/pencil" class="svg"}}</span>
                                <span class="dropdown__item-label">{{t "admin.spaces.edit_space"}}</span>
                              </LinkTo>
                            </li>
                          </ul>
                        </div>
                      </dd.Content>
                    </BasicDropdown>
                  </div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <div class="spaces__footer">
      </div>
    </div>
  {{else}}
    <div class="spaces__no-results">
      <div class="empty-state">
        <div class="empty-state__asset empty-state__asset--spaces">
          {{inline-svg "illustrations/table" class="svg"}}
        </div>

        <h1 class="empty-state__title">{{t "admin.spaces.no-results.title"}}</h1>
        <p class="empty-state__description">{{t "admin.spaces.no-results.description"}}</p>

        <div class="empty-state__button">
          <LinkTo @route="admin.spaces.new" class="button button--primary">{{t "admin.spaces.new_space"}}</LinkTo>
        </div>
      </div>
    </div>
  {{/if}}
</div>
