<h3 class="style-guide__heading style-guide__heading--1">Colors</h3>

<div class="style-guide__section-child">
  <div class="style-guide__example">
    <h4 class="style-guide__heading style-guide__heading--2">Gray</h4>
    <div class="style-guide__swatches">
      {{#each (array 100 200 300 400 500 600 700 800 900) as |variant|}}
        <div class="style-guide__swatch style-guide__swatch--gray-{{variant}}">
          <div class="style-guide__swatch-value">{{variant}}</div>
        </div>
      {{/each}}
    </div>

    <h4 class="style-guide__heading style-guide__heading--2">Indigo</h4>
    <div class="style-guide__swatches">
      {{#each (array 100 200 300 400 500 600 700 800 900) as |variant|}}
        <div class="style-guide__swatch style-guide__swatch--indigo-{{variant}}">
          <div class="style-guide__swatch-value">{{variant}}</div>
        </div>
      {{/each}}
    </div>

    <h4 class="style-guide__heading style-guide__heading--2">Green</h4>
    <div class="style-guide__swatches">
      {{#each (array 100 200 300 400 500 600 700 800 900) as |variant|}}
        <div class="style-guide__swatch style-guide__swatch--green-{{variant}}">
          <div class="style-guide__swatch-value">{{variant}}</div>
        </div>
      {{/each}}
    </div>

    <h4 class="style-guide__heading style-guide__heading--2">Red</h4>
    <div class="style-guide__swatches">
      {{#each (array 100 200 300 400 500 600 700 800 900) as |variant|}}
        <div class="style-guide__swatch style-guide__swatch--red-{{variant}}">
          <div class="style-guide__swatch-value">{{variant}}</div>
        </div>
      {{/each}}
    </div>
  </div>
</div>