<h3 class="style-guide__heading">Typography</h3>

<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Font Sizes</h4>

  <h5 class="style-guide__heading style-guide__heading--3">$font-size-x-small</h5>
  <div class="style-guide__example">
    <p class="style-guide__font-size-x-small">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$font-size-small</h5>
  <div class="style-guide__example">
    <p class="style-guide__font-size-small">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$font-size</h5>
  <div class="style-guide__example">
    <p class="style-guide__font-size">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$font-size-large</h5>
  <div class="style-guide__example">
    <p class="style-guide__font-size-large">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$font-size-x-large</h5>
  <div class="style-guide__example">
    <p class="style-guide__font-size-x-large">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$font-size-2x-large</h5>
  <div class="style-guide__example">
    <p class="style-guide__font-size-2x-large">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$font-size-3x-large</h5>
  <div class="style-guide__example">
    <p class="style-guide__font-size-3x-large">{{ loremIpsumShort }}</p>
  </div>
</div>


<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Line Height</h4>

  <h5 class="style-guide__heading style-guide__heading--3">$line-height-none</h5>
  <div class="style-guide__example">
    <p class="style-guide__line-height-none">{{ loremIpsumLong }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$line-height-x-small</h5>
  <div class="style-guide__example">
    <p class="style-guide__line-height-x-small">{{ loremIpsumLong }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$line-height-small</h5>
  <div class="style-guide__example">
    <p class="style-guide__line-height-small">{{ loremIpsumLong }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$line-height</h5>
  <div class="style-guide__example">
    <p class="style-guide__line-height">{{ loremIpsumLong }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$line-height-large</h5>
  <div class="style-guide__example">
    <p class="style-guide__line-height-large">{{ loremIpsumLong }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$line-height-x-large</h5>
  <div class="style-guide__example">
    <p class="style-guide__line-height-x-large">{{ loremIpsumLong }}</p>
  </div>
</div>


<div class="style-guide__section-child">
  <h4 class="style-guide__heading style-guide__heading--2">Letter Spacing</h4>

  <h5 class="style-guide__heading style-guide__heading--3">$letter-spacing-x-small</h5>
  <div class="style-guide__example">
    <p class="style-guide__letter-spacing-x-small">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$letter-spacing-small</h5>
  <div class="style-guide__example">
    <p class="style-guide__letter-spacing-small">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$letter-spacing</h5>
  <div class="style-guide__example">
    <p class="style-guide__letter-spacing">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$letter-spacing-large</h5>
  <div class="style-guide__example">
    <p class="style-guide__letter-spacing-large">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$letter-spacing-x-large</h5>
  <div class="style-guide__example">
    <p class="style-guide__letter-spacing-x-large">{{ loremIpsumShort }}</p>
  </div>

  <h5 class="style-guide__heading style-guide__heading--3">$letter-spacing-2x-large</h5>
  <div class="style-guide__example">
    <p class="style-guide__letter-spacing-2x-large">{{ loremIpsumShort }}</p>
  </div>
</div>


