<div class="plugins">
    <div class="plugins__list">
      <div class="plugins__item">
        <div class="plugin-card">
          <div class="plugin-card__wrapper">
            <div class="plugin-card__body">
              <div class="plugin-card__header">
                <div class="plugin-card__logo">
                  {{inline-svg "brands/slack" class="svg"}}
                </div>
                <div class="plugin-card__status plugin-card__status--enabled">
                  {{inline-svg "icons/checkmark" class="svg"}} Enabled
                </div>
              </div>
              <div class="plugin-card__content">
                <h3 class="plugin-card__title">Slack Import</h3>
                <p class="plugin-card__description">
                  Import and maintain your people list with Slack.
                </p>
              </div>
            </div>
            <div class="plugin-card__footer">
              <button class="button button--success button--full">Configure</button>
            </div>
          </div>
        </div>
      </div>

      <div class="plugins__item">
        <div class="plugin-card">
          <div class="plugin-card__wrapper">
            <div class="plugin-card__body">
              <div class="plugin-card__header">
                <div class="plugin-card__logo">
                  {{inline-svg "brands/slack" class="svg"}}
                </div>
                <div class="plugin-card__status plugin-card__status--enabled">
                  {{inline-svg "icons/checkmark" class="svg"}} Enabled
                </div>
              </div>
              <div class="plugin-card__content">
                <h3 class="plugin-card__title">Slack Notifications</h3>
                <p class="plugin-card__description">
                  Manage all the notifications sent to your team on Slack through this plugin.
                </p>
              </div>
            </div>
            <div class="plugin-card__footer">
              <button class="button button--success button--full">Configure</button>
            </div>
          </div>
        </div>
      </div>

      <div class="plugins__item">
        <div class="plugin-card">
          <div class="plugin-card__wrapper">
            <div class="plugin-card__body">
              <div class="plugin-card__header">
                <div class="plugin-card__logo">
                  {{inline-svg "brands/gmail" class="svg"}}
                </div>
                <div class="plugin-card__status plugin-card__status--disabled">
                  {{inline-svg "icons/disabled" class="svg"}} Disabled
                </div>
              </div>
              <div class="plugin-card__content">
                <h3 class="plugin-card__title">Email Notifications</h3>
                <p class="plugin-card__description">
                  Manage all the notifications sent to your team on Slack through this plugin.
                </p>
              </div>
            </div>
            <div class="plugin-card__footer">
              <button class="button button--primary button--full">Install</button>
            </div>
          </div>
        </div>
      </div>

      <div class="plugins__item">
        <div class="plugin-card">
          <div class="plugin-card__wrapper">
            <div class="plugin-card__body">
              <div class="plugin-card__header">
                <div class="plugin-card__logo">
                  {{inline-svg "icons/webhooks" class="svg"}}
                </div>
                <div class="plugin-card__status plugin-card__status--disabled">
                  {{inline-svg "icons/disabled" class="svg"}} Disabled
                </div>
              </div>
              <div class="plugin-card__content">
                <h3 class="plugin-card__title">Webhooks</h3>
                <p class="plugin-card__description">
                  Create your custom webhooks based on the different events happening through BigSeat.
                </p>
              </div>
            </div>
            <div class="plugin-card__footer">
              <button class="button button--primary button--full">Install</button>
            </div>
          </div>
        </div>
      </div>

      <div class="plugins__item">
        <div class="plugin-card">
          <div class="plugin-card__wrapper">
            <div class="plugin-card__body">
              <div class="plugin-card__header">
                <div class="plugin-card__logo">
                  {{inline-svg "icons/cubes" class="svg"}}
                </div>
              </div>
              <div class="plugin-card__content">
                <h3 class="plugin-card__title">Not listed?</h3>
                <p class="plugin-card__description">
                 A plugin you’re looking for doesn’t exist here? Let us know and we’ll build it for you.
                </p>
              </div>
            </div>
            <div class="plugin-card__footer">
              <button class="button button--primary button--full">Contact us</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>