<AdminLayout>
  <div class="integrations">
    <div class="integrations__list">

      <div class="integrations__item">
        <div class="card-integration">
          <div class="card-integration__wrapper">
            <div class="card-integration__body">
              <div class="card-integration__header">
                <div class="card-integration__logo">
                  {{inline-svg "plugins/slack" class="svg"}}
                </div>
                <div class="card-integration__status card-integration__status--enabled">
                  {{inline-svg "icons/checkmark" class="svg"}} Enabled
                </div>
              </div>
              <div class="card-integration__content">
                <h3 class="card-integration__title">Slack Import</h3>
                <p class="card-integration__description">
                  Import and maintain your people list with Slack.
                </p>
              </div>
            </div>
            <div class="card-integration__footer">
              <button class="button button--success button--full">Configure</button>
            </div>
          </div>
        </div>
      </div>

      <div class="integrations__item">
        <div class="card-integration">
          <div class="card-integration__wrapper">
            <div class="card-integration__body">
              <div class="card-integration__header">
                <div class="card-integration__logo">
                  {{inline-svg "plugins/slack" class="svg"}}
                </div>
                <div class="card-integration__status card-integration__status--enabled">
                  {{inline-svg "icons/checkmark" class="svg"}} Enabled
                </div>
              </div>
              <div class="card-integration__content">
                <h3 class="card-integration__title">Slack Notifications</h3>
                <p class="card-integration__description">
                  Manage all the notifications sent to your team on Slack through this plugin.
                </p>
              </div>
            </div>
            <div class="card-integration__footer">
              <button class="button button--success button--full">Configure</button>
            </div>
          </div>
        </div>
      </div>

      <div class="integrations__item">
        <div class="card-integration">
          <div class="card-integration__wrapper">
            <div class="card-integration__body">
              <div class="card-integration__header">
                <div class="card-integration__logo">
                  {{inline-svg "plugins/gmail" class="svg"}}
                </div>
                <div class="card-integration__status card-integration__status--disabled">
                  {{inline-svg "icons/disabled" class="svg"}} Disabled
                </div>
              </div>
              <div class="card-integration__content">
                <h3 class="card-integration__title">Email Notifications</h3>
                <p class="card-integration__description">
                  Manage all the notifications sent to your team on Slack through this plugin.
                </p>
              </div>
            </div>
            <div class="card-integration__footer">
              <button class="button button--primary button--full">Install</button>
            </div>
          </div>
        </div>
      </div>

      <div class="integrations__item">
        <div class="card-integration">
          <div class="card-integration__wrapper">
            <div class="card-integration__body">
              <div class="card-integration__header">
                <div class="card-integration__logo">
                  {{inline-svg "plugins/webhooks" class="svg"}}
                </div>
                <div class="card-integration__status card-integration__status--disabled">
                  {{inline-svg "icons/disabled" class="svg"}} Disabled
                </div>
              </div>
              <div class="card-integration__content">
                <h3 class="card-integration__title">Webhooks</h3>
                <p class="card-integration__description">
                  Create your custom webhooks based on the different events happening through BigSeat.
                </p>
              </div>
            </div>
            <div class="card-integration__footer">
              <button class="button button--primary button--full">Install</button>
            </div>
          </div>
        </div>
      </div>

      <div class="integrations__item">
        <div class="card-integration">
          <div class="card-integration__wrapper">
            <div class="card-integration__body">
              <div class="card-integration__header">
                <div class="card-integration__logo">
                  {{inline-svg "plugins/cubes" class="svg"}}
                </div>
              </div>
              <div class="card-integration__content">
                <h3 class="card-integration__title">Not listed?</h3>
                <p class="card-integration__description">
                 A plugin you’re looking for doesn’t exist here? Let us know and we’ll build it for you.
                </p>
              </div>
            </div>
            <div class="card-integration__footer">
              <button class="button button--primary button--full">Contact us</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</AdminLayout>