<Layout @type="admin">
  <div class="integrations">
    <div class="integrations__list">

      <div class="integrations__item">
        <div class="card-integration">
          <div class="card-integration__wrapper">
            <div class="card-integration__body">
              <div class="card-integration__header">
                <div class="card-integration__logo">
                  {{inline-svg "brands/slack" class="svg"}}
                </div>
                <div class="card-integration__status card-integration__status--enabled">
                  {{inline-svg "icons/checkmark" class="svg"}} Enabled
                </div>
              </div>
              <div class="card-integration__content">
                <h3 class="card-integration__title">Slack</h3>
                <p class="card-integration__description">
                  Slack makes all your tools work better by letting you integrate industry-leading software and custom apps right into Slack.
                </p>
              </div>
            </div>
            <div class="card-integration__footer">
              <button class="button button--success button--full">Configure</button>
            </div>
          </div>
        </div>
      </div>

      <div class="integrations__item">
        <div class="card-integration">
          <div class="card-integration__wrapper">
            <div class="card-integration__body">
              <div class="card-integration__header">
                <div class="card-integration__logo">
                  {{inline-svg "brands/notion" class="svg"}}
                </div>
                <div class="card-integration__status card-integration__status--enabled">
                  {{inline-svg "icons/checkmark" class="svg"}} Enabled
                </div>
              </div>
              <div class="card-integration__content">
                <h3 class="card-integration__title">Notion</h3>
                <p class="card-integration__description">
                  Notion makes all your tools work better by letting you integrate industry-leading software and custom apps right into Slack.<br/>
                </p>
              </div>
            </div>
            <div class="card-integration__footer">
              <button class="button button--success button--full">Configure</button>
            </div>
          </div>
        </div>
      </div>

      <div class="integrations__item">
        <div class="card-integration">
          <div class="card-integration__wrapper">
            <div class="card-integration__body">
              <div class="card-integration__header">
                <div class="card-integration__logo">
                  {{inline-svg "brands/zapier" class="svg"}}
                </div>
                <div class="card-integration__status card-integration__status--disabled">
                  {{inline-svg "icons/disabled" class="svg"}} Disabled
                </div>
              </div>
              <div class="card-integration__content">
                <h3 class="card-integration__title">Zapier</h3>
                <p class="card-integration__description">
                  Zapier makes all your tools work better by letting you integrate industry-leading software and custom apps right into Slack.
                </p>
              </div>
            </div>
            <div class="card-integration__footer">
              <button class="button button--primary button--full">Setup</button>
            </div>
          </div>
        </div>
      </div>

      <div class="integrations__item">
        <div class="card-integration">
          <div class="card-integration__wrapper">
            <div class="card-integration__body">
              <div class="card-integration__content">
                <h3 class="card-integration__title">Not listed?</h3>
                <p class="card-integration__description">
                  We can create an integration for your favorite third-party.
                </p>
              </div>
            </div>
            <div class="card-integration__footer">
              <button class="button button--primary button--full">Contact us</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</Layout>