<div class="signup__form">
  <div class="signup__asset">
    {{inline-svg "illustrations/files" class="svg"}}
  </div>

  <form class="form" {{on "submit" (prevent-default (fn @signup @changeset))}}>
    <div class="grid grid--large">
      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="email" class="form__label">Email</label>
          <Input
          @id="email"
          @type="text"
          @placeholder="hello@gmail.com"
          @value={{@changeset.email}}
          class="form__input"
          />

          {{#if @changeset.error.email}}
            {{@changeset.error.email.validation}}
          {{/if}}
        </div>
      </div>

      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="organization-name" class="form__label">Company</label>
          <Input
          @id="organization-name"
          @type="text"
          @placeholder="Smith Corp."
          @value={{@changeset.organizationName}}
          class="form__input"
          />

          {{#if @changeset.error.organizationName}}
            {{@changeset.error.organizationName.validation}}
          {{/if}}
        </div>
      </div>

      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="first_name" class="form__label">First Name</label>
          <Input
          @id="first-name"
          @type="text"
          @placeholder="John"
          @value={{@changeset.firstName}}
          class="form__input"
          />

          {{#if @changeset.error.firstName}}
            {{@changeset.error.firstName.validation}}
          {{/if}}
        </div>
      </div>

      <div class="grid__cell grid__cell--50">
        <div class="form__group">
          <label for="last_name" class="form__label">Last name</label>
          <Input
          @id="last_name"
          @type="text"
          @placeholder="Smith"
          @value={{@changeset.lastName}}
          class="form__input"
          />

          {{#if @changeset.error.lastName}}
            {{@changeset.error.lastName.validation}}
          {{/if}}
        </div>
      </div>

      <div class="grid__cell">
        <div class="form__group">
          <label for="password" class="form__label">Password</label>
          <Input
          @id="password"
          @type="password"
          @value={{@changeset.password}}
          class="form__input"
          />

          {{#if @changeset.error.password}}
            {{@changeset.error.password.validation}}
          {{/if}}
        </div>
      </div>

      <div class="grid__cell">
        <div class="form__group">
          <div class="grid grid--middle">
            <div class="grid__cell grid__cell--10">
              <Input
                @id="terms"
                @type="checkbox"
                @checked={{@changeset.termsAcceptance}}
                class="form__input"
                />

                {{#if @changeset.error.termsAcceptance}}
                  {{@changeset.error.termsAcceptance.validation}}
                {{/if}}
            </div>
            <div class="grid__cell grid__cell--90">
              <label for="terms" class="form__label form__label--terms">
                I agree to BigSeat's <button type="button" class="text-button text-button--primary">Terms of Service</button> and the use of personal data as explained in BigSeat's <button type="button" class="text-button text-button--primary">Privacy Policy</button>.
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="grid__cell">
        <div class="form__group">
          <button class="button button--primary button--full">Sign up free</button>
        </div>
      </div>
    </div>
  </form>
</div>
