<div class="signup">
  <div class="signup__card">
    <div class="signup__intro">
      <h3 class="signup__title">Welcome to BigSeat.</h3>
      <div class="signup__description">
        <p>Merchandise Morty, your only purpose in life is to buy & consume merchandise and you did it, you went into a store an actual honest to god store and you bought something, you didn't ask questions or raise ethical complaints you just looked into the bleeding jaws of capitalism and said 'yes daddy please' and I'm so proud of you, I only wish you could have bought more, I love buying things so much Morty.</p>

        <p>Aw, man! I really liked this life! Well, at least I didn't really crap my pants. Ohh yea, you gotta get schwifty. Sorry I didn't listen to you and tried to kill the whole world and stuff. Guess I gotta learn how to live in the moment a little more.</p>
      </div>
    </div>

    <Signup::Form
      @isProcessing={{this.isProcessing}}
      @isCreating={{this.isCreating}}
      @changeset={{changeset this.signupRequest this.SignupRequestValidation}}
      @signup={{this.signup}}
    />
  </div>
  <div class="signup__footer">
    <LinkTo @route="signin" class="button button--primary-outline">I already have an account</LinkTo>
  </div>
</div>

<NotificationContainer
  @position="top-right"
/>

<!-- TODO: Fix, this does not exist and needs to be real route pages /terms, /privacy-policy (bigseat.co root domain!) -->
{{#if isShowingTerms}}
  <ModalDialog
      @onClose={{this.toggleTerms}}
      @targetAttachment="none"
      @translucentOverlay="true"
      @wrapperClass="centered-scrolling"
      @overlayClass="centered-scrolling__overlay"
      @containerClass="centered-scrolling__container"
  >
    <Terms />
  </ModalDialog>
{{/if}}


{{#if isShowingPrivacy}}
  <ModalDialog
      @onClose={{this.togglePrivacy}}
      @targetAttachment="none"
      @translucentOverlay="true"
      @wrapperClass="centered-scrolling"
      @overlayClass="centered-scrolling__overlay"
      @containerClass="centered-scrolling__container"
  >
    <Privacy />
  </ModalDialog>
{{/if}}
