<div class="signin">
  <div class="signin__wrapper">
    <div class="signin__logo">
      BigSeat.
    </div>
    <div class="signin__card">
      <div class="signin__title">{{t "admin.signin.welcome_back"}}</div>
      <div class="signin__description">{{t "admin.signin.description" }}</div>

      <Signin::Form
        @isProcessing={{this.isProcessing}}
        @changeset={{changeset @model this.SigninRequestValidation}}
        @signin={{this.signin}}
      />
    </div>
    <div class="signin__footer">
      <LinkTo @route="signup" class="button button--primary-outline button--full">{{t "admin.signin.create_account"}}</LinkTo>
    </div>
  </div>
</div>

<NotificationContainer
  @position="top-right"
/>